<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{{ if .Style }}
		    <link rel="stylesheet" href="/css/style.css">
		{{ end }}
        <title>{{ .TitlePage }}</title>  
      </head>
<body>
    <div class="container mt-5">

        <h1 style="text-align: center;">{{ .TitlePage }}</h1>

        <div class="box-form">
            <div>
                <a href="/" class="btn-link" id="l" >Back to form</a>
                <button class="btn-link" id="down">Download</button>
            </div>

            <div id="resultArea" class="py-3 px-3 my-3" >
                <pre >
                    <p id="res" style="overflow: auto;">{{ .AsciiArt }} <br></p>
                </pre>
            </div>
        </div>

                
    </div>
    <script src="js/download.js"></script>
</body>
</html>